
*{
    margin: 0;
    box-sizing: border-box;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 20px;
    background-color: rgb(24, 23, 23);
    color: white;
    font-size: 17px;
}
li{
    cursor: pointer;
}
li:hover{
    color: rgb(226, 103, 103);
    transition:0.4s;
}

#content{
    display:flex;
    flex-direction:column-reverse
}