* {
    margin: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 20px;
    background-color: rgb(24, 23, 23);
    color: white;
    font-size: 17px;
}

li {
    cursor: pointer;
}

li:hover {
    color: rgb(226, 103, 103);
    transition: 0.4s;
}

#content {
    display: flex;
    flex-direction: column-reverse
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.8;
}

.homeContainer {
    background-image: url("./images/burger.jpg");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    animation-name: example;
    animation-duration: 20s;
    animation-iteration-count: infinite;

}

@keyframes example {
    0% {
        background-image: url("./images/burger.jpg");
    }

 

    50% {
        background-image: url("./images/urfa.jpg");
        color: black;

    }

  

    100% {
        background-image: url("./images/burger.jpg");

    }
}

.homeContainer h1 {
    position: relative;
    top: 70%;
    left: 2%;
    font-size: 45px;
}
.menuContainer{
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.menuContainer .card{
    margin: 40px;
}
.contactContainer{
    margin-top: 75px;

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }